<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/">REALTIME DECISIONS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item actiuve">
                <a class="nav-link" routerLink="/">CASHBACK <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
            <a routerLink="signin">ACCOUNT</a>
        </span>
    </div>
</nav>